<h1> Edit Event </h1>

<%= form_tag "/events/#{@event.id}", method: :patch do %> 
	Title: <input type="text" name="input_title" value="<%= @event.title %>">
	<br />
	Start Time: <input type="datetime-local" name="input_start_time" value="<%= @event.start_time %>">
	<br />
	End Time: <input type="datetime-local" name="input_end_time" value="<%= @event.end_time %>">
	<br />
	Location: <input type="text" name="input_location" value="<%= @event.location %>">
	<br /> 
	Description: <input type="text" name="input_description" value="<%= @event.description %>">
	<br />
	Category: <%= collection_select(:event, :category_id, Category.all, :id, :category, prompt: "Select a Category") %>
	<br />
	<input type="submit" Value="Edit Event">


<% end %> 



